.item-list .field-widget-list-tree ul,
.block .field-widget-list-tree ul,
.field-widget-list-tree ul
{
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.item-list .field-widget-list-tree ul ul,
.block .field-widget-list-tree ul ul,
.field-widget-list-tree ul ul
{
  margin-left: 1.5em;
}

.item-list .field-widget-list-tree ul .form-item,
.block .field-widget-list-tree ul .form-item,
.field-widget-list-tree ul .form-item {
  margin: 0;
  padding: 0;
}

.list-tree-button,
.no-list-tree-button {
  width: 16px;
  height: 16px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  margin-right: 4px;
}

.list-tree-button {
  background-image: url('images/bullet_toggle_minus.png');
}

.no-list-tree-button {
  background-color: #ddd;
}

.list-tree-button.list-tree-collapsed {
  background-image: url('images/bullet_toggle_plus.png');
}

.field-widget-list-tree .form-item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}

.field-widget-list-tree .disabled {
  opacity: .5;
}

.field-widget-list-tree .parent-list-tree {
  display: inline-block;
  *display: inline;
  zoom: 1;
  font-weight: bold;
}

.form-type-checkbox-tree .error {
  background-image: none;
  border: 2px solid red;
  padding: 3px;
}

.region-content ul.list-tree-level,
.list-tree-level
{
  padding: 0;
}

/*
 * Styles for track list of selected options.
 */

.list-tree-track-list li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 10px;
  padding-left: 20px;
  min-height: 16px;
  cursor: pointer;
}

.list-tree-track-list li.track-item:hover {
  color: red;
  background-image: url("images/bullet_delete.png");
  background-repeat: no-repeat;
  background-position: middle left;
}

.list-tree-track-list li.list-tree-ref-tree-nothing-message {
  list-style-type: none;
  list-style-image: none;
  font-style: italic;
  cursor: default;
}

.list-tree-track-list-container {
  padding: 5px;
}

.list-tree-track-list-label {
  font-weight: bold;
}

/*
 * Styles for display element
 */

.list-tree-list .selected {
  font-weight: bold;
}

.list-tree-list .unselected {
  font-weight: normal;
}

.list-tree-list ul {
  margin-top: 0;
}

.field-type-list-tree ul.links .list-tree-list ul.list-tree li {
  float: none;
}
